{% extends "package/resource_read_base.html" %}

{% block twitter_title -%}
   <meta name="twitter:title" content="{{ h.get_theme_config('tw-metadata.title') }} | {{ res.name }}">
{%- endblock %}

{% block twitter_description -%}
   <meta name="twitter:description" content="{{ res.description }}">
{%- endblock %}

{% block title -%}
   {% set title = h.get_theme_config('title.site-title') %}
   <a href="{{ h.url_for(controller='package', action='search') }}">{{ title if title else '' }}</a> / <a href="{{ h.url_for(controller='package', action='read', id=pkg.name) }}">Dataset</a> / Recurso
{%- endblock %}

{% endblock %}
