{% extends "package/snippets/search_item_base.html" %}

{% block groups %}
   {%- if show_group_imgs -%}
       <div class="dataset-groups">
           {%- for group in package.groups -%}
               {%- if group.image_display_url and group.image_display_url|length > 0 -%}
                   <img src="{{ h.cut_img_path(group.image_display_url) }}" title="{{ group.title }}" class="group-image">
               {%- endif -%}
           {%- endfor -%}
       </div>
   {%- endif -%}
{% endblock %}

{% block show_images %}
   {%- if not show_group_imgs -%}
       {%- for group in package.groups -%}
           <span class="label group">{{ group.title }}</span>
       {%- endfor %}
   {%- endif -%}
{% endblock %}
